.Option:hover{
    background-color:green;
}

.Option:focus{
    background-color:red;
}

.Option:active{
    background-color: indigo;
}

.Option{
   width: 40%;
    text-align: center;
    margin:5px 5px;;
}