.Option:hover{
    background-color:green;
}

.Option:focus{
    background-color:red;
}

.Option:active{
    background-color: indigo;
}

.OptionGrid{
    width:150px;
}

.Option{
    height:50px;
    width: 100%;
}