.Option{
    height:50px;
    width: 80%;
}

.OptionGrid .Option{
    background-color: #549a9a;
    /* color:#585858; */
    color:white;
    border: #d7d7d7
}
 

.OptionGrid .Option:hover{
    background-color:#54779a;
}

.Option:focus{
    background-color:#54779a;
}

.Option:active{
    background-color: #54779a;
}

.OptionGrid{
    width:150px;
}

