@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  text-align: left;
  font-family: "Lora", "Spectral", "Serif";
  background-image: url("./assets/Cassette.png");
  background-size: 20%;
  background-repeat: space;
  color: #4c4c4c;
}

h3 {
  margin: 0;
}
